<div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center" *ngFor="let cita of citas">
        <div class="card card-1 shadow" title="Clic para editar">
          <a routerLink="../editar/{{cita._id}}" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
            <div class="card-body p-1">
              <h5 class="card-title">{{cita.nombre}}</h5>
              <p class="card-text">Cédula: {{cita.cedula}}</p>
              <p class="card-text">Fecha: {{cita.fecha}}</p>
              <p class="card-text">Hora: {{cita.hora}}</p>
              <p class="card-text">{{cita.observaciones}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>