<div class="list-group">
    <h5 class="list-group-item">Gestionar citas</h5>
    <a routerLink="/dashboard/citas/listar" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Listar</a>
    <a routerLink="/dashboard/citas/asignar" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Asignar</a>
    <a routerLink="/dashboard/citas/editar" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Editar</a>
</div>